
#top {
    //position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 5px;
}

#bottom {
     position: relative;
  //  bottom: 20px;
  // float: left;
    width: auto;
    background-color: #c2dfef;
    padding: 5px;
    margin: 0px 20px 10px 20px;
}

#left {
     float: left;
    background-color: #ece3a5;
    padding: 15px;
    width: 180px;
    height: auto;
     margin: 5px;
}

#right {
    float: left;
    background-color: #A50006;
    padding: 5px;
    width: auto;
    height: 90%;
}
/*
.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
    
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 10px 170px 30px 170px;
    height: 1000px;
    width: 300px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

*/
